Repository LucasSlunt/COSC310_GroupProject, pull requests merged in 2025-02, with the labels that each got.

#65 Api documentation
  API_DOCUMENTATION.md
Labels: documentation

#56 API Setup - Controller Tests and Controllers
  backend/task-manager/src/main/java/com/example/task_manager/controller/AdminController.java
  backend/task-manager/src/main/java/com/example/task_manager/controller/AuthInfoController.java
  backend/task-manager/src/main/java/com/example/task_manager/controller/IsAssignedController.java
  backend/task-manager/src/main/java/com/example/task_manager/controller/IsMemberOfController.java
  backend/task-manager/src/main/java/com/example/task_manager/controller/TaskController.java
  backend/task-manager/src/main/java/com/example/task_manager/controller/TeamController.java
  backend/task-manager/src/main/java/com/example/task_manager/controller/TeamMemberController.java
  backend/task-manager/src/test/java/com/example/task_manager/controller_tests/AdminControllerTest.java
  backend/task-manager/src/test/java/com/example/task_manager/controller_tests/AuthInfoControllerTest.java
  backend/task-manager/src/test/java/com/example/task_manager/controller_tests/IsAssignedControllerTest.java
  backend/task-manager/src/test/java/com/example/task_manager/controller_tests/IsMemberOfControllerTest.java
  backend/task-manager/src/test/java/com/example/task_manager/controller_tests/TaskControllerTest.java
  backend/task-manager/src/test/java/com/example/task_manager/controller_tests/TeamControllerTest.java
  backend/task-manager/src/test/java/com/example/task_manager/controller_tests/TeamMemberControllerTest.java
Labels: Backend

#66 React Task Info Page With Header
  frontend/react-app/src/App.css
  frontend/react-app/src/App.js
  frontend/react-app/src/App.test.js
  frontend/react-app/src/Header.css
  frontend/react-app/src/Header.jsx
  frontend/react-app/src/ViewTask.css
  frontend/react-app/src/ViewTask.jsx
  frontend/react-app/src/ViewTask.test.js
Labels: Frontend

#72 Authentication
  backend/task-manager/pom.xml
  backend/task-manager/src/main/java/com/example/task_manager/entity/Admin.java
  backend/task-manager/src/main/java/com/example/task_manager/entity/AuthInfo.java
  backend/task-manager/src/main/java/com/example/task_manager/entity/TeamMember.java
  backend/task-manager/src/main/java/com/example/task_manager/repository/TeamMemberRepository.java
  backend/task-manager/src/main/java/com/example/task_manager/service/AdminService.java
  backend/task-manager/src/main/java/com/example/task_manager/service/AuthInfoService.java
  backend/task-manager/src/main/java/com/example/task_manager/service/TeamMemberService.java
  backend/task-manager/src/test/java/com/example/task_manager/entity_tests/AdminEntityTest.java
  backend/task-manager/src/test/java/com/example/task_manager/entity_tests/AuthInfoEntityTest.java
  backend/task-manager/src/test/java/com/example/task_manager/entity_tests/IsAssignedEntityTest.java
  backend/task-manager/src/test/java/com/example/task_manager/entity_tests/IsMemberOfEntityTest.java
  backend/task-manager/src/test/java/com/example/task_manager/entity_tests/TaskEntityTest.java
  backend/task-manager/src/test/java/com/example/task_manager/entity_tests/TeamEntityTest.java
  backend/task-manager/src/test/java/com/example/task_manager/entity_tests/TeamMemberEntityTest.java
  backend/task-manager/src/test/java/com/example/task_manager/repository_tests/IsAssignedRepositoryTest.java
  backend/task-manager/src/test/java/com/example/task_manager/repository_tests/IsMemberOfRepositoryTest.java
  backend/task-manager/src/test/java/com/example/task_manager/service_tests/AdminServiceTest.java
  backend/task-manager/src/test/java/com/example/task_manager/service_tests/AuthInfoServiceTest.java
  backend/task-manager/src/test/java/com/example/task_manager/service_tests/IsAssignedServiceTest.java
  backend/task-manager/src/test/java/com/example/task_manager/service_tests/IsMemberOfServiceTest.java
  backend/task-manager/src/test/java/com/example/task_manager/service_tests/TeamMemberServiceTest.java
  backend/task-manager/src/test/java/com/example/task_manager/service_tests/TeamServiceTest.java
Labels: Backend
